@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
}

p {
    color: #00fff0;
}

section {
    position: absolute;
    height: 100%;
    width: 100%;
    filter: blur(2px) brightness(30%);
}

body {
    display: flex;
    min-height: 100hv;
    align-items: center;
    justify-content: center;
    background-image: url('https://zidiolearning.in/public/images/20240303082149-dark_logo175.png');
    background-size: contain;
    background-position: center;
}

.container {
    width: 360px;
    background: black;
    box-shadow: 0 0 8px white;
    opacity: 1.0;
}

.container form {
    width: 100%;
    text-align: center;
    padding: 25px 20px;
}

form h1 {
    padding: 10px 0px;
    color: #00fff0;
}

form .id {
    position: relative;
}

.id i {
    position: absolute;
    font-size: 20px;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
    color: #00fff0;
}

form input {
    width: 100%;
    height: 50px;
    margin: 4px 0;
    border: 1px solid #5c5c5c;
    border-radius: 3px;
    background: #181717;
    padding: 0 15px;
    padding-right: 45px;
    font-size: 20px;
}

form textarea {
    padding: 5px 15px;
    border: 1px solid #5c5c5c;
    border-radius: 3px;
    background: #181717;
    padding: 0 15px;
    font-size: 20px;
    width: 100%;
    margin: 4px 0;
}

form button {
    margin-top: 5px;
    border: none;
    background: #00fff0;
    color: #222;
    padding: 10px 0;
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 3px;
}

label {
    color: #00fff0;
}

form input:focus,
form textarea:focus {
    border: 1px solid #00fff0;
    color: #00fff0;
    transition: all 0.3s ease;
}

form input:focus::placeholder,
form textarea:focus::placeholder {
    padding-left: 4px;
    color: #00fff0;
    transition: all 0.3s ease;
}

form input:focus + i {
    color: #00fff0;
    transition: all 0.3s ease;
}

/*.emoji-box {
    padding: 1rem 0;
    width: 60%;
    display: flex;
    justify-content: space-between;
}*/

.btn {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    color: #00fff0;
}

&:hover {
    transform: scale(1.5);
}

.question {
    margin: 0.5rem 0;
}

&::before {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    transition: 0.2s;
}

/*.accept {
    display: flex;
    align-items: center;
}/*